/*
!.*

.cache/
.config/.dotfiles/
.config/Signal/
.config/awakened-poe-trade/
.config/cef_user_data
.config/ckb-next/
.config/discord/
.config/pulse/
.config/session/
.config/systemd/user/*.wants
.config/vim/autoload/
.config/vim/plug/
.config/vlc/
.local/
.ssh/
Desktop/
Downloads/
Games/
Music/
OneDrive/
Source/
Videos/

.bash_history
.config/KDE/UserFeedback.conf
.config/KeePassXCrc
.config/QtProject.conf
.config/configstore/update-notifier-electron-builder.json
.config/dconf/user
.config/git/credentials
.config/gtkrc
.config/gtkrc-2.0
.config/kconf_updaterc
.config/kde.org/UserFeedback.org.kde.dolphin.conf
.config/kde.org/UserFeedback.org.kde.plasmashell.conf
.config/kde.org/systemsettings.conf
.config/ksmserverrc
.config/onedrive/.sync_list.hash
.config/onedrive/items.sqlite3*
.config/onedrive/refresh_token
.config/plasmanotifyrc
.config/trashrc
.config/vim/viminfo
