(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (2, 33, 79, 96, 119, 165, 165, 165),
                temp: (45, 56, 60, 63, 67, 72, 72, 72),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 12, 22, 122, 142, 198, 198, 198),
                temp: (45, 56, 60, 65, 69, 72, 72, 72),
                enabled: false,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (79, 89, 96, 127, 165, 206, 237, 237),
                temp: (48, 62, 65, 68, 71, 74, 77, 77),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (22, 122, 132, 142, 175, 221, 242, 242),
                temp: (48, 60, 62, 65, 70, 74, 77, 77),
                enabled: false,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (2, 17, 33, 79, 89, 119, 119, 119),
                temp: (55, 58, 62, 65, 69, 73, 73, 73),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 12, 22, 22, 122, 142, 142, 142),
                temp: (55, 58, 62, 65, 69, 73, 73, 73),
                enabled: false,
            ),
        ],
        custom: [],
    ),
)